/* line 6, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}

/* line 16, ../scss/style.scss */
h1,
h2,
h3 {
  font-family: "Francois One", sans-serif;
}

/* line 20, ../scss/style.scss */
h1 {
  font-size: 36px;
}

/* line 24, ../scss/style.scss */
h2 {
  font-size: 24px;
}

/* line 27, ../scss/style.scss */
h3 {
  font-size: 16px;
}

/* line 32, ../scss/style.scss */
article a {
  font-weight: bold;
  text-decoration: none;
  color: #42A5F5;
}
/* line 33, ../scss/style.scss */
article a:visited {
  color: #42A5F5;
}

/* line 37, ../scss/style.scss */
header p {
  font-style: italic;
}

/* line 40, ../scss/style.scss */
nav {
  padding: 0;
  margin: 50px 0 50px 0;
  font-family: "Lato", sans-serif;
}
/* line 45, ../scss/style.scss */
nav ul {
  list-style-type: none;
}
/* line 47, ../scss/style.scss */
nav ul li {
  display: inline;
}
/* line 49, ../scss/style.scss */
nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-weight: 700;
  margin: 0 15px 0 15px;
  padding-bottom: 5px;
}
/* line 57, ../scss/style.scss */
nav ul li a:hover {
  color: #BDBDBD;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

/* line 68, ../scss/style.scss */
#container {
  margin: 2% 25% 2% 25%;
  width: 50%;
  text-align: center;
}

/* line 74, ../scss/style.scss */
article {
  text-align: left;
}

/* line 78, ../scss/style.scss */
.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
}

/* line 84, ../scss/style.scss */
.left-cell {
  flex: 1 17.5%;
  padding: 20px;
  width: 100px;
}

/* line 85, ../scss/style.scss */
#etudes .left-cell {
  border-right: 2px solid #ef5350;
}

/* line 86, ../scss/style.scss */
#experiences .left-cell {
  border-right: 2px solid #42a5f5;
}

/* line 87, ../scss/style.scss */
#autres .left-cell {
  border-right: 2px solid #66bb6a;
}

/* line 88, ../scss/style.scss */
.right-cell {
  flex: 1 82.5%;
  text-align: left;
  padding: 20px;
}

/* line 90, ../scss/style.scss */
.hexagon {
  background: url("../img/avatar.jpg");
  background-size: cover;
  background-position: -20px;
  position: relative;
  display: inline-block;
  width: 205px;
  height: 233px;
  overflow: hidden;
  color: #fff;
  -webkit-mask-image: url("../img/mask.jpg");
}
/* line 102, ../scss/style.scss */
.hexagon .content {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 16px;
}

/* line 111, ../scss/style.scss */
.progressBarContainer {
  width: 100%;
  max-width: 350px;
  height: 26px;
  height: 1.66em;
  background: #EEEEEE;
  overflow: hidden;
  border-radius: 10px;
}

/* line 121, ../scss/style.scss */
.progressBarValue {
  height: 1.66em;
  float: left;
  background: #ffa726;
}

/* line 127, ../scss/style.scss */
.value-00 {
  width: 0;
}

/* line 129, ../scss/style.scss */
.value-10 {
  width: 10%;
}

/* line 131, ../scss/style.scss */
.value-20 {
  width: 20%;
}

/* line 133, ../scss/style.scss */
.value-30 {
  width: 30%;
}

/* line 135, ../scss/style.scss */
.value-40 {
  width: 40%;
}

/* line 137, ../scss/style.scss */
.value-50 {
  width: 50%;
}

/* line 139, ../scss/style.scss */
.value-60 {
  width: 60%;
}

/* line 141, ../scss/style.scss */
.value-70 {
  width: 70%;
}

/* line 143, ../scss/style.scss */
.value-80 {
  width: 80%;
}

/* line 145, ../scss/style.scss */
.value-90 {
  width: 90%;
}

/* line 147, ../scss/style.scss */
.value-100 {
  width: 100%;
}
